In [1]:
import os

### set primary path to csvResults folder and will be applied throughout script. If the
### results range change, modify the a_suff variable to reflect the new range. In general,
### the only variable that needs modified throughout this script is the a_suff variable
### because future iterations should include new ID numbers. Change this variable to
### reflect the new data ranges.

a_path="../"
a_fold="csvResults/"
a_suff="_noStates.csv"

In [2]:
### import the noState_output to assess how well the new data without city-states matches
### to the OC database

import pandas as pd
import numpy as np
import time
import os
import warnings
warnings.filterwarnings('ignore')

t0=time.time()

a_inpt="noState_output_cleaned.csv"
a_full=os.path.join(a_path,a_fold,a_inpt)

df=pd.read_csv(a_full)

t1=time.time()
total=t1-t0
print("Total time is %4f" % (total/60), "mins")

display(df.info(null_counts=True),df.head())

Total time is 0.001302 mins
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2623 entries, 0 to 2622
Data columns (total 55 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   ID                                    2623 non-null   int64
 1   assignee_id                           2623 non-null   object
 2   name                                  2034 non-null   object
 3   company_number                        2034 non-null   object
 4   jurisdiction_code                     2034 non-null   object
 5   incorporation_date                    2034 non-null   object
 6   dissolution_date                      551 non-null    object
 7   company_type                          2018 non-null   object
 8   registry_url                          1680 non-null   object
 9   branch                                897 non-null    object
 10  branch_status                         897 non-null    object
 11  inactive                              1088 non-null   object
 12  current_status                        1757 non-null   object
 13  created_at                            2034 non-null   object
 14  updated_at                            2034 non-null   object
 15  retrieved_at                          2034 non-null   object
 16  opencorporates_url                    2034 non-null   object
 17  source                                2034 non-null   object
 18  agent_name                            710 non-null    object
 19  agent_address                         648 non-null    object
 20  alternative_names                     288 non-null    object
 21  previous_names                        496 non-null    object
 22  number_of_employees                   13 non-null     object
 23  native_company_number                 103 non-null    object
 24  alternate_registration_entities       0 non-null      float64
 25  previous_registration_entities        0 non-null      float64
 26  subsequent_registration_entities      0 non-null      float64
 27  registered_address_in_full            1200 non-null   object
 28  industry_codes                        84 non-null     object
 29  identifiers                           274 non-null    object
 30  trademark_registrations               126 non-null    object
 31  registered_address                    1226 non-null   object
 32  corporate_groupings                   1 non-null      object
 33  data                                  985 non-null    object
 34  financial_summary                     8 non-null      object
 35  home_company                          640 non-null    object
 36  controlling_entity                    844 non-null    object
 37  ultimate_beneficial_owners            11 non-null     object
 38  ultimate_controlling_company          64 non-null     object
 39  filings                               1196 non-null   object
 40  officers                              1722 non-null   object
 41  street_address                        1004 non-null   object
 42  address_city                          976 non-null    object
 43  address_state                         961 non-null    object
 44  address_zipcode                       948 non-null    object
 45  agent_street_address                  289 non-null    object
 46  agent_city                            292 non-null    object
 47  agent_state                           290 non-null    object
 48  agent_zipcode                         285 non-null    float64
 49  home_company_name                     640 non-null    object
 50  home_company_jurisdiction_code        640 non-null    object
 51  controlling_entity_name               844 non-null    object
 52  controlling_entity_jurisdiction_code  844 non-null    object
 53  list_of_officers                      2623 non-null   object
 54  list_of_filing_dates                  2623 non-null   object
dtypes: float64(4), int64(1), object(50)
memory usage: 1.1+ MB

None

,ID,assignee_id,name,company_number,jurisdiction_code,incorporation_date,dissolution_date,company_type,registry_url,branch,...,agent_street_address,agent_city,agent_state,agent_zipcode,home_company_name,home_company_jurisdiction_code,controlling_entity_name,controlling_entity_jurisdiction_code,list_of_officers,list_of_filing_dates
0,1,5d5ead2f-1ef7-4db6-a6ce-9cdea523f834,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,[],[]
1,2,8a841c57-22b6-4ad0-ad42-16532c3ab4fc,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,[],[]
2,3,52e38962-9bfc-4082-b0c8-b7ba4ac04d83,"LENDINGTREE, LLC",68510F,us_ak,1/3/2000,NaN,Limited Liability Company,NaN,F,...,NaN,NaN,NaN,NaN,"LENDINGTREE, LLC",us_de,"LENDINGTREE, LLC",us_de,"['Christopher D. Davies', 'Douglas R Lebda', '...","['2011-07-21', '2011-07-21', '2008-03-17', '20..."
3,3,52e38962-9bfc-4082-b0c8-b7ba4ac04d83,"LENDINGTREE, LLC",1364151-0161,us_ut,6/27/1997,NaN,LLC - Foreign,https://secure.utah.gov/bes/details.html?entit...,F,...,NaN,NaN,NaN,NaN,"LENDINGTREE, LLC",us_de,"LENDINGTREE, LLC",us_de,"['INCORP SERVICES, INC']",[]
4,3,52e38962-9bfc-4082-b0c8-b7ba4ac04d83,"LENDINGTREE, LLC",34570412Q,us_la,8/29/1997,NaN,Limited Liability Company (Non-Louisiana),http://coraweb.sos.la.gov/commercialsearch/Com...,F,...,NaN,NaN,NaN,NaN,"LENDINGTREE, LLC",us_de,"LENDINGTREE, LLC",us_de,"['DOUGLAS LEBDA', 'INCORP SERVICES, INC']","['2017-04-06', '2015-10-18', '2013-01-28', '20..."

In [3]:
### construct a list of assignees that did not have a matching record to the OC database

assigneesWithNoOCRecord=df[df['name'].isnull()].iloc[:,1:2].reset_index(drop=True)

display(assigneesWithNoOCRecord.info(),assigneesWithNoOCRecord.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 589 entries, 0 to 588
Data columns (total 1 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   assignee_id  589 non-null    object
dtypes: object(1)
memory usage: 4.7+ KB

None

                            assignee_id
0  5d5ead2f-1ef7-4db6-a6ce-9cdea523f834
1  8a841c57-22b6-4ad0-ad42-16532c3ab4fc
2  57ee3f8d-0756-4a84-a29d-adfdaea6e290
3  e809c8fa-1ae3-43b4-b504-307c633646e7
4  cb6a6b0b-4197-49a2-854d-d2a5e68e5847

In [4]:
### import the complete dataset to assign states and cities

t0=time.time()

a_inpt="dfMergedFullDataSet.csv"
a_full=os.path.join(a_path,a_fold,a_inpt)

fullData=pd.read_csv(a_full)

t1=time.time()
total=t1-t0
print("Total time is %4f" % (total/60), "mins")

display(fullData.info(null_counts=True),fullData.head())

Total time is 0.006391 mins
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 274493 entries, 0 to 274492
Data columns (total 7 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   ID              274493 non-null  int64
 1   assignee_id     274493 non-null  object
 2   location_id     274493 non-null  object
 3   organization    274493 non-null  object
 4   city            267595 non-null  object
 5   state           269716 non-null  object
 6   dateOfFirstPat  274493 non-null  object
dtypes: int64(1), object(6)
memory usage: 14.7+ MB

None

,ID,assignee_id,location_id,organization,city,state,dateOfFirstPat
0,0,fffe9f1f-cb1c-49ab-b00f-6416e3e3a909,fd8b2b76-cb90-11eb-9615-121df0c29c1e,"Close-In Solutions, LLC",Austin,TX,10/18/2011
1,1,fffe8fea-3d13-4016-9429-93653527efa1,fe449928-09bd-11ec-893a-12de62d610b1,"Vita-Stat Neducak Services, Inc.",St. Petersburg,FL,6/10/1980
2,2,fffe4688-bc00-4626-bd89-28921a62f07f,f76d85c4-09bd-11ec-893a-12de62d610b1,"Emerging Technology Systems, L.L.C.",Akron,OH,1/6/1998
3,3,fffe36bb-6dea-4a8b-8bf5-071cf893ceba,fe1cb1c3-cb8f-11eb-9615-121df0c29c1e,"Valley Business Solutions, LLC",Huntsville,AL,6/30/2020
4,4,fffd9c21-3bb1-4471-b316-d172921e3f83,ec16f9be-cb90-11eb-9615-121df0c29c1e,"RAILIAS HOLDINGS, LLC",San Diego,CA,12/15/2020

In [5]:
### construct a list of assignees that had no matches to OC

fullData1=fullData.drop_duplicates(subset=['assignee_id'],keep='first')

assigneesWithNoOCRecord1=assigneesWithNoOCRecord.merge(fullData1,on=['assignee_id'],
                                                       how='inner').iloc[:,[1,0,2,3,4,5,6]].sort_values(by=['ID'])

# assigneesWithNoOCRecord1.to_csv("../csvResults/assigneeIDsWithNoStatesNoMatchingOC.csv",index=False)

display(assigneesWithNoOCRecord1.info(),assigneesWithNoOCRecord1.head())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 589 entries, 232 to 369
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   ID              589 non-null    int64
 1   assignee_id     589 non-null    object
 2   location_id     589 non-null    object
 3   organization    589 non-null    object
 4   city            566 non-null    object
 5   state           567 non-null    object
 6   dateOfFirstPat  589 non-null    object
dtypes: int64(1), object(6)
memory usage: 36.8+ KB

None

,ID,assignee_id,location_id,organization,city,state,dateOfFirstPat
232,802,f8748ef9-f51b-4153-87ad-0f975f94caea,f9142a82-09be-11ec-893a-12de62d610b1,Wothington Cylinders Corporation,Worthington,OH,10/14/2014
469,942,f73af659-8c20-42e9-ac88-1dfdb155f2b9,fbb61109-cb8e-11eb-9615-121df0c29c1e,Steelcraft Fluorescent Company,Newark,NJ,2/12/1991
218,1670,f036b99a-e35f-4532-83c9-449a68d26b4c,ebd21fb5-cb8e-11eb-9615-121df0c29c1e,Burroughs Welcome Co.,Research Triangle Park,NC,2/20/1990
442,1824,eea554c2-8c0a-4d23-8601-320d7c841f98,d7a6bf2e-cb8f-11eb-9615-121df0c29c1e,"Variah Semiconductor Equipment Associates, Inc.",Gloucester,MA,7/20/2004
539,2098,ec0b2776-3780-4263-8e61-351e0393b656,d692d702-cb8f-11eb-9615-121df0c29c1e,Continuous Compostites Inc.,Coeur d'Alene,ID,8/18/2020

In [6]:
### import the original 1000 records to calculate the % of assignees with incorporation dates

t0=time.time()

a_inpt="subsetToRerun_1000Records_noStates_Aug_3_2022.csv"
a_full=os.path.join(a_path,a_fold,a_inpt)

df1=pd.read_csv(a_full)

t1=time.time()
total=t1-t0
print("Total time is %4f" % (total/60), "mins")

display(df1.info(null_counts=True),df1.head())

Total time is 0.000067 mins
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 3 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   assignee_id     1000 non-null   object
 1   organization    1000 non-null   object
 2   dateOfFirstPat  1000 non-null   object
dtypes: object(3)
memory usage: 23.6+ KB

None

,assignee_id,organization,dateOfFirstPat
0,5d5ead2f-1ef7-4db6-a6ce-9cdea523f834,Vitric Corporation,7/27/1999
1,8a841c57-22b6-4ad0-ad42-16532c3ab4fc,American Bicycle Manufacturing Company,9/29/1987
2,52e38962-9bfc-4082-b0c8-b7ba4ac04d83,"LendingTree, LLC",5/7/2002
3,b4f82aab-7c15-4868-8044-81a0ed5d33be,"Nordstrom Valves, Inc",1/11/2000
4,d62b9811-b171-40ed-a739-7eb54199f188,"LT 350, LLC",5/9/2017

In [7]:
df2=df

df2.dropna(subset=['incorporation_date'],inplace=True)
df3=df2.iloc[:,1:]

display(df3.info(),df3.head())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2034 entries, 2 to 2622
Data columns (total 54 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   assignee_id                           2034 non-null   object
 1   name                                  2034 non-null   object
 2   company_number                        2034 non-null   object
 3   jurisdiction_code                     2034 non-null   object
 4   incorporation_date                    2034 non-null   object
 5   dissolution_date                      551 non-null    object
 6   company_type                          2018 non-null   object
 7   registry_url                          1680 non-null   object
 8   branch                                897 non-null    object
 9   branch_status                         897 non-null    object
 10  inactive                              1088 non-null   object
 11  current_status                        1757 non-null   object
 12  created_at                            2034 non-null   object
 13  updated_at                            2034 non-null   object
 14  retrieved_at                          2034 non-null   object
 15  opencorporates_url                    2034 non-null   object
 16  source                                2034 non-null   object
 17  agent_name                            710 non-null    object
 18  agent_address                         648 non-null    object
 19  alternative_names                     288 non-null    object
 20  previous_names                        496 non-null    object
 21  number_of_employees                   13 non-null     object
 22  native_company_number                 103 non-null    object
 23  alternate_registration_entities       0 non-null      float64
 24  previous_registration_entities        0 non-null      float64
 25  subsequent_registration_entities      0 non-null      float64
 26  registered_address_in_full            1200 non-null   object
 27  industry_codes                        84 non-null     object
 28  identifiers                           274 non-null    object
 29  trademark_registrations               126 non-null    object
 30  registered_address                    1226 non-null   object
 31  corporate_groupings                   1 non-null      object
 32  data                                  985 non-null    object
 33  financial_summary                     8 non-null      object
 34  home_company                          640 non-null    object
 35  controlling_entity                    844 non-null    object
 36  ultimate_beneficial_owners            11 non-null     object
 37  ultimate_controlling_company          64 non-null     object
 38  filings                               1196 non-null   object
 39  officers                              1722 non-null   object
 40  street_address                        1004 non-null   object
 41  address_city                          976 non-null    object
 42  address_state                         961 non-null    object
 43  address_zipcode                       948 non-null    object
 44  agent_street_address                  289 non-null    object
 45  agent_city                            292 non-null    object
 46  agent_state                           290 non-null    object
 47  agent_zipcode                         285 non-null    float64
 48  home_company_name                     640 non-null    object
 49  home_company_jurisdiction_code        640 non-null    object
 50  controlling_entity_name               844 non-null    object
 51  controlling_entity_jurisdiction_code  844 non-null    object
 52  list_of_officers                      2034 non-null   object
 53  list_of_filing_dates                  2034 non-null   object
dtypes: float64(4), object(50)
memory usage: 874.0+ KB

None

,assignee_id,name,company_number,jurisdiction_code,incorporation_date,dissolution_date,company_type,registry_url,branch,branch_status,...,agent_street_address,agent_city,agent_state,agent_zipcode,home_company_name,home_company_jurisdiction_code,controlling_entity_name,controlling_entity_jurisdiction_code,list_of_officers,list_of_filing_dates
2,52e38962-9bfc-4082-b0c8-b7ba4ac04d83,"LENDINGTREE, LLC",68510F,us_ak,1/3/2000,NaN,Limited Liability Company,NaN,F,branch of an out-of-jurisdiction company,...,NaN,NaN,NaN,NaN,"LENDINGTREE, LLC",us_de,"LENDINGTREE, LLC",us_de,"['Christopher D. Davies', 'Douglas R Lebda', '...","['2011-07-21', '2011-07-21', '2008-03-17', '20..."
3,52e38962-9bfc-4082-b0c8-b7ba4ac04d83,"LENDINGTREE, LLC",1364151-0161,us_ut,6/27/1997,NaN,LLC - Foreign,https://secure.utah.gov/bes/details.html?entit...,F,branch of an out-of-jurisdiction company,...,NaN,NaN,NaN,NaN,"LENDINGTREE, LLC",us_de,"LENDINGTREE, LLC",us_de,"['INCORP SERVICES, INC']",[]
4,52e38962-9bfc-4082-b0c8-b7ba4ac04d83,"LENDINGTREE, LLC",34570412Q,us_la,8/29/1997,NaN,Limited Liability Company (Non-Louisiana),http://coraweb.sos.la.gov/commercialsearch/Com...,F,branch of an out-of-jurisdiction company,...,NaN,NaN,NaN,NaN,"LENDINGTREE, LLC",us_de,"LENDINGTREE, LLC",us_de,"['DOUGLAS LEBDA', 'INCORP SERVICES, INC']","['2017-04-06', '2015-10-18', '2013-01-28', '20..."
5,52e38962-9bfc-4082-b0c8-b7ba4ac04d83,"LENDINGTREE, LLC",20050320FC,us_me,6/7/1996,NaN,Foreign Limited Liability Company,https://icrs.informe.org/nei-sos-icrs/ICRS?Cor...,F,branch of an out-of-jurisdiction company,...,"128 STATE STREET, 3RD FLOOR, AUGUSTA, ME 04330...",NaN,NaN,NaN,"LENDINGTREE, LLC",us_de,"LENDINGTREE, LLC",us_de,"['INCORP SERVICES, INC']","['2020-06-16', '2019-05-29', '2018-10-04', '20..."
6,52e38962-9bfc-4082-b0c8-b7ba4ac04d83,"LENDINGTREE, LLC",1364151-0143,us_ut,6/27/1997,3/4/2005,Corporation - Foreign - Profit,https://secure.utah.gov/bes/details.html?entit...,F,branch of an out-of-jurisdiction company,...,NaN,NaN,NaN,NaN,"LENDINGTREE, LLC",us_de,"LENDINGTREE, LLC",us_de,"['INCORP SERVICES, INC']",[]

In [8]:
print("The number of in unique assignee IDs in the input file is:", df3['assignee_id'].nunique())
print("The number of in unique assignee IDs returned in the output file is:", df1['assignee_id'].nunique())
print(f"The percent of returned assignees is: {(df3['assignee_id'].nunique())/df1['assignee_id'].nunique():.2%}")

The number of in unique assignee IDs in the input file is: 411
The number of in unique assignee IDs returned in the output file is: 1000
The percent of returned assignees is: 41.10%

In [9]:
### names were identified to be incorrect by manually screening and the city and state name 
### were removed rather than replaced. This variable will be used to batch remove the names
### in the next cell

t0=time.time()

fullData['organization']=fullData['organization'].str.title()
df3['name']=df3['name'].str.title()

pattern = '|'.join(['Llc','L\.L\.C\.','Inc\.$','Inc$','Ltd','\(.+?\)','Plc','P\.L\.C\.','Pllc','P\.L\.L\.C\.',
                    'Lp\.$','Lp$','Llp$','LP','L\.P\.','LC','L\.C\.','@','\.',','])

t1=time.time()
total=t1-t0
print("Total time is %4f" % (total/60), "mins")

Total time is 0.001686 mins

In [10]:
### the pattern variable was used in the replace function to remove any matches from the
### organization field

t0=time.time()

fullData['organization']=fullData['organization'].str.lstrip().str.rstrip()

fullData['organization']=fullData['organization'].str.replace(' & ', ' And ')
fullData['organization']=fullData['organization'].str.replace('&', ' And ')
fullData['organization']=fullData['organization'].str.replace(' - |-', ' ')
fullData['organization']=fullData['organization'].str.replace(' (Co\.$|Co$)', ' Company')
fullData['organization']=fullData['organization'].str.replace(' (Corp\.|Corp) ', ' Corporation ')
fullData['organization']=fullData['organization'].str.replace('Mfg', 'Manufacturing')

fullData['organization']=fullData['organization'].str.replace(pattern, '')
fullData['organization']=fullData['organization'].str.lstrip().str.rstrip()

fullData['organization']=fullData['organization'].str.replace(' (Co\.$|Co$)', ' Company')
fullData['organization']=fullData['organization'].str.replace(' (Corp\.$|Corp$) ', ' Corporation ')
fullData['organization']=fullData['organization'].str.replace(' (Corp\.$|Corp$)', ' Corporation')

t1=time.time()
total=t1-t0
print("Total time is %4f" % (total/60), "mins")

Total time is 0.023977 mins

In [11]:
### the pattern variable was used in the replace function to remove any matches from the
### organization field

t0=time.time()

df3['name']=df3['name'].str.lstrip().str.rstrip()

df3['name']=df3['name'].str.replace(' & ', ' And ')
df3['name']=df3['name'].str.replace('&', ' And ')
df3['name']=df3['name'].str.replace(' - |-', ' ')
df3['name']=df3['name'].str.replace(' (Co\.$|Co$)', ' Company')
df3['name']=df3['name'].str.replace(' (Corp\.|Corp) ', ' Corporation ')
df3['name']=df3['name'].str.replace('Mfg', 'Manufacturing')

df3['name']=df3['name'].str.replace(pattern, '')
df3['name']=df3['name'].str.lstrip().str.rstrip()

df3['name']=df3['name'].str.replace(' (Co\.$|Co$)', ' Company')
df3['name']=df3['name'].str.replace(' (Corp\.$|Corp$) ', ' Corporation ')
df3['name']=df3['name'].str.replace(' (Corp\.$|Corp$)', ' Corporation')

t1=time.time()
total=t1-t0
print("Total time is %4f" % (total/60), "mins")

Total time is 0.000332 mins

In [15]:
### merge the noState_output file with the dfMergedFullDataSet to attach the PatentsView data

mergeFullWithNoStates=fullData.merge(df3,left_on=['assignee_id','organization'],right_on=['assignee_id','name'],how='inner',
                                    indicator=True)
# mergeFullWithNoStates.to_csv("../csvResults/lookatfullmerge.csv",index=False)

display(mergeFullWithNoStates.info(),mergeFullWithNoStates.head())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1165 entries, 0 to 1164
Data columns (total 61 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   ID                                    1165 non-null   int64
 1   assignee_id                           1165 non-null   object
 2   location_id                           1165 non-null   object
 3   organization                          1165 non-null   object
 4   city                                  1155 non-null   object
 5   state                                 1151 non-null   object
 6   dateOfFirstPat                        1165 non-null   object
 7   name                                  1165 non-null   object
 8   company_number                        1165 non-null   object
 9   jurisdiction_code                     1165 non-null   object
 10  incorporation_date                    1165 non-null   object
 11  dissolution_date                      244 non-null    object
 12  company_type                          1153 non-null   object
 13  registry_url                          955 non-null    object
 14  branch                                737 non-null    object
 15  branch_status                         737 non-null    object
 16  inactive                              537 non-null    object
 17  current_status                        941 non-null    object
 18  created_at                            1165 non-null   object
 19  updated_at                            1165 non-null   object
 20  retrieved_at                          1165 non-null   object
 21  opencorporates_url                    1165 non-null   object
 22  source                                1165 non-null   object
 23  agent_name                            523 non-null    object
 24  agent_address                         475 non-null    object
 25  alternative_names                     87 non-null     object
 26  previous_names                        141 non-null    object
 27  number_of_employees                   7 non-null      object
 28  native_company_number                 65 non-null     object
 29  alternate_registration_entities       0 non-null      float64
 30  previous_registration_entities        0 non-null      float64
 31  subsequent_registration_entities      0 non-null      float64
 32  registered_address_in_full            625 non-null    object
 33  industry_codes                        27 non-null     object
 34  identifiers                           104 non-null    object
 35  trademark_registrations               107 non-null    object
 36  registered_address                    638 non-null    object
 37  corporate_groupings                   1 non-null      object
 38  data                                  543 non-null    object
 39  financial_summary                     0 non-null      object
 40  home_company                          492 non-null    object
 41  controlling_entity                    671 non-null    object
 42  ultimate_beneficial_owners            0 non-null      object
 43  ultimate_controlling_company          39 non-null     object
 44  filings                               670 non-null    object
 45  officers                              1022 non-null   object
 46  street_address                        530 non-null    object
 47  address_city                          523 non-null    object
 48  address_state                         516 non-null    object
 49  address_zipcode                       508 non-null    object
 50  agent_street_address                  197 non-null    object
 51  agent_city                            203 non-null    object
 52  agent_state                           203 non-null    object
 53  agent_zipcode                         196 non-null    float64
 54  home_company_name                     492 non-null    object
 55  home_company_jurisdiction_code        492 non-null    object
 56  controlling_entity_name               671 non-null    object
 57  controlling_entity_jurisdiction_code  671 non-null    object
 58  list_of_officers                      1165 non-null   object
 59  list_of_filing_dates                  1165 non-null   object
 60  _merge                                1165 non-null   category
dtypes: category(1), float64(4), int64(1), object(55)
memory usage: 556.5+ KB

None

,ID,assignee_id,location_id,organization,city,state,dateOfFirstPat,name,company_number,jurisdiction_code,...,agent_city,agent_state,agent_zipcode,home_company_name,home_company_jurisdiction_code,controlling_entity_name,controlling_entity_jurisdiction_code,list_of_officers,list_of_filing_dates,_merge
0,875,f7b31db8-0a3d-425e-a79f-d84ba6333b60,de5d6510-cb90-11eb-9615-121df0c29c1e,The Egg Factory,Roanoke,VA,1/30/2001,The Egg Factory,S0249179,us_va,...,ROANOKE,Virginia,24018.0,NaN,NaN,NaN,NaN,['RONALD D BLUM'],"['2001-12-07', '1999-10-07']",both
1,1284,f3e6ae72-e2b1-4165-a0f7-9be773bf1e56,9447f283-cb8e-11eb-9615-121df0c29c1e,Tank Vision,Vineyard Haven,MA,10/16/2018,Tank Vision,1691679,us_ri,...,PROVIDENCE,RI,2906.0,"TANK VISION, INC.",us_de,"TANK VISION, INC.",us_de,"['THEODORE HOWELL', 'JAMES E MCMANN', 'BRIAN D...","['2022-06-27', '2021-02-15', '2020-03-31', '20...",both
2,1284,f3e6ae72-e2b1-4165-a0f7-9be773bf1e56,9447f283-cb8e-11eb-9615-121df0c29c1e,Tank Vision,Vineyard Haven,MA,10/16/2018,Tank Vision,6263639,us_de,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,['RL&F SERVICE CORP'],[],both
3,1667,f0447e02-fb80-46f7-a97c-cb4b2f398aeb,4b56fc31-cb8e-11eb-9615-121df0c29c1e,Infinibox,Westwood,MA,6/27/2017,Infinibox,5283115,us_de,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,['CORPORATION SERVICE COMPANY'],[],both
4,2655,e62b4591-f071-4597-b791-35e9075d2af1,f97aecf0-cb90-11eb-9615-121df0c29c1e,Agricultural Aviation Engineering Company,Las Vegas,NV,3/15/1983,Agricultural Aviation Engineering Company,C0353907,us_ca,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,['JACK M WISEMAN'],"['1989-05-30', '1989-05-30', '1989-01-10', '19...",both

In [16]:
mergeFullWithNoStates1=mergeFullWithNoStates.iloc[:,[0,1,2,3,4,5,6,7,9,10,25,26,47,48,51,52,38]]
mergeFullWithNoStates1['state']=mergeFullWithNoStates1['state'].str.title()
mergeFullWithNoStates1['address_city']=mergeFullWithNoStates1['address_city'].str.title()
mergeFullWithNoStates1['address_state']=mergeFullWithNoStates1['address_state'].str.title()
mergeFullWithNoStates1['agent_city']=mergeFullWithNoStates1['agent_city'].str.title()
mergeFullWithNoStates1['agent_state']=mergeFullWithNoStates1['agent_state'].str.title()
mergeFullWithNoStates1['agent_state']=mergeFullWithNoStates1['agent_state'].str.title()

mergeFullWithNoStates1['sub_jurisdiction_code']=mergeFullWithNoStates1['jurisdiction_code'].str[3:].str.title()

mergeFullWithNoStates2=mergeFullWithNoStates1.iloc[:,[0,1,2,3,4,5,6,7,17,9,10,11,12,13,14,15,16]].sort_values(by=['ID'])

display(mergeFullWithNoStates2.info(),mergeFullWithNoStates2.head())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1165 entries, 0 to 86
Data columns (total 17 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   ID                     1165 non-null   int64
 1   assignee_id            1165 non-null   object
 2   location_id            1165 non-null   object
 3   organization           1165 non-null   object
 4   city                   1155 non-null   object
 5   state                  1151 non-null   object
 6   dateOfFirstPat         1165 non-null   object
 7   name                   1165 non-null   object
 8   sub_jurisdiction_code  1165 non-null   object
 9   incorporation_date     1165 non-null   object
 10  alternative_names      87 non-null     object
 11  previous_names         141 non-null    object
 12  address_city           523 non-null    object
 13  address_state          516 non-null    object
 14  agent_city             203 non-null    object
 15  agent_state            203 non-null    object
 16  data                   543 non-null    object
dtypes: int64(1), object(16)
memory usage: 163.8+ KB

None

,ID,assignee_id,location_id,organization,city,state,dateOfFirstPat,name,sub_jurisdiction_code,incorporation_date,alternative_names,previous_names,address_city,address_state,agent_city,agent_state,data
0,875,f7b31db8-0a3d-425e-a79f-d84ba6333b60,de5d6510-cb90-11eb-9615-121df0c29c1e,The Egg Factory,Roanoke,Va,1/30/2001,The Egg Factory,Va,12/22/1997,NaN,NaN,Roanoke,Virginia,Roanoke,Virginia,NaN
1,1284,f3e6ae72-e2b1-4165-a0f7-9be773bf1e56,9447f283-cb8e-11eb-9615-121df0c29c1e,Tank Vision,Vineyard Haven,Ma,10/16/2018,Tank Vision,Ri,1/8/2019,NaN,NaN,Vineyard Haven,Ma,Providence,Ri,NaN
2,1284,f3e6ae72-e2b1-4165-a0f7-9be773bf1e56,9447f283-cb8e-11eb-9615-121df0c29c1e,Tank Vision,Vineyard Haven,Ma,10/16/2018,Tank Vision,De,1/3/2017,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1667,f0447e02-fb80-46f7-a97c-cb4b2f398aeb,4b56fc31-cb8e-11eb-9615-121df0c29c1e,Infinibox,Westwood,Ma,6/27/2017,Infinibox,De,1/31/2013,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2655,e62b4591-f071-4597-b791-35e9075d2af1,f97aecf0-cb90-11eb-9615-121df0c29c1e,Agricultural Aviation Engineering Company,Las Vegas,Nv,3/15/1983,Agricultural Aviation Engineering Company,Ca,5/1/1958,NaN,NaN,Las Vegas,Nv,NaN,NaN,"{'most_recent': [{'datum': {'id': 48877940, 't..."

In [17]:
mergeFullWithNoStates2['assignee_id'].nunique()

269

In [21]:
mergeFullWithNoStates2.to_csv("../csvResults/mergedPVOCNoStates.csv",index=False)